In [5]:
pip install

Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001F6D0B1DC10>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sklearn/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001F6D0B1E310>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sklearn/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001F6D0B1EED0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sklearn/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001F6D0B1FB50>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sklearn/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001F6D0B28450>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/sklearn/
ERROR: Could not find a version that satisfies the requirement sklearn (from versions: none)
ERROR: No matching distribution found for sklearn

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, classification_report

ModuleNotFoundError: No module named 'pandas'

In [37]:
pd.set_option('display.max_rows', 300)
pd.set_option('display.max_colwidth',400)

In [9]:
df = pd.read_excel(r"c:\Users\Admin\Downloads\bank_marketing_dataset.xlsx")

NameError: name 'pd' is not defined

In [39]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,50,...,divorced,tertiary,yes,43668,no,yes,telephone,13,jan,467,10,252,0,unknown,no
1,51,blue-collar,single,secondary,yes,49331,no,no,cellular,12,dec,78,2,448,6,failure,yes
2,19,...,divorced,primary,no,36499,no,yes,cellular,1,aug,274,4,498,0,success,no
3,44,blue-collar,single,secondary,no,-3920,yes,no,cellular,6,sep,125,1,364,10,success,no
4,27,entrepreneur,divorced,primary,yes,-8337,no,no,cellular,9,dec,162,10,421,2,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,25,management,married,primary,yes,-6355,yes,no,cellular,6,oct,380,9,195,1,unknown,no
996,18,management,divorced,tertiary,yes,42158,no,yes,telephone,4,nov,224,6,324,10,failure,yes
997,35,entrepreneur,married,primary,no,40402,yes,yes,cellular,17,may,293,9,338,2,success,no
998,51,...,married,secondary,yes,152,no,yes,telephone,2,may,339,5,483,6,success,yes
999,72,management,divorced,primary,no,37037,no,no,telephone,14,jul,24,7,121,0,success,no

In [10]:
df.shape

NameError: name 'df' is not defined

In [41]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [42]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,49.476000,20725.911000,15.900000,295.610000,5.486000,239.241000,4.856000
std,18.245063,17151.460908,8.714353,172.134745,2.884463,147.976342,3.196793
min,18.000000,-9994.000000,1.000000,10.000000,1.000000,0.000000,0.000000
25%,34.750000,6025.000000,9.000000,143.000000,3.000000,104.000000,2.000000
50%,49.500000,20904.500000,15.000000,294.000000,5.000000,228.500000,5.000000
75%,65.000000,35415.000000,23.000000,451.000000,8.000000,371.250000,8.000000
max,80.000000,49875.000000,31.000000,600.000000,10.000000,500.000000,10.000000

In [43]:
categorical_columns = ["job", "marital", "education", "default", "housing", "loan", "contact", "month", "poutcome"]
label_encoders = {}

for col in categorical_columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

In [45]:
# Split data
X = df.drop("y", axis=1)
y = df["y"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [46]:
# Build Decision Tree model
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [47]:
# Evaluate model
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

In [48]:

print("Accuracy:", accuracy)
print("Classification Report:\n", classification_rep)

Accuracy: 0.54
Classification Report:
               precision    recall  f1-score   support

          no       0.56      0.56      0.56       104
         yes       0.52      0.52      0.52        96

    accuracy                           0.54       200
   macro avg       0.54      0.54      0.54       200
weighted avg       0.54      0.54      0.54       200